* {
    margin: 0;
    padding: 0;
    
}
body  {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.logolinks  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:40px;
    margin-right:400px;
    margin-bottom: 40;
    margin-left: 400px;
}

.navlinks {
    display: flex;
    justify-content: space-between;
    gap:24px;
    font-size: 18px;
    color: #E5E7EB;
}

header  {
    background-color: #1f2d41;
    color: #F9FAF8;
    height: 350px;
}

h3  {
    font-size: 24px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    }

.hero  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:40px;
    margin-right:400px;
    margin-bottom: 40;
    margin-left: 400px;
}

.leftside  {
    max-width: 400px;
    
}

img  {
    width: 450px;
    height:150px;
}

p  {
    width: 350px
}
button  {
    color: white;
    background-color: #3882F6;
    border: none;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;

}
.button1  {
    border-radius: 8px;
}
.mainbox  {
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 52px;
    flex-wrap:wrap;
    margin: 0px 500px;
    margin-top:25px;
    margin-bottom: 50px;
}
.mainbox img  {
   width: 140px;
   height: 140px;
   border:3px solid #3882F6;
   border-radius: 18px;
}
.titlesri  {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top:25px
}
.info p  {
    max-width: 140px;
}
h2  {
    font-size:36px;
    font-weight:bold;
    color: #1F2937;
}
.quote  {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:100px;
    padding-bottom: 100px;
}
.quote p {
    font-size:36px;
    font-style: italic;
    color: #1F2937;
    width: 690px;
}

.calltoaction  {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calltoactioncontainer  {
    width: 900px;
    height: 200px;
    background-color: #3882F6;
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.ctcbutton  {
    color: white;
    background-color: #3882F6;
    border: solid 3px white;
    border-radius: 18px;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    

}
.calltoactioncontainer p {
    color:white;
}


























footer  {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}